@import "../config/index";

#auth-page{
  display: flex;
  justify-content: center;
  text-align: center;


  .form-container{

    margin: 50px auto ;
    padding: 50px;
    width: 450px;
    border-radius: 25px;
    border-bottom: 1px solid $hotpink;
    border-right: 1px solid $hotpink;

  }

  color: white;

  .form-input-field{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $hotpink;

    color: $hotpink;

    width: 100%;
    background-color: transparent;
  }

  .form-control-btn{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $hotpink;
    color: $hotpink;


    background-color: transparent;

    &:hover{
      background-color: $hotpink;
      color: white;
    }
  }

  .input-focused{
    background-color: white;
    color: black;
  }

  a{
    color: $hotpink;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}
